
.company-list {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    justify-content: flex-end;

    padding: 10px 10px; /* отступ от стенок основной карточки */
    margin: 16px 20px; /* расстояние сверху/снизу от внешнего блока */

    min-width: 650px;
    max-width: 700px;
    min-height: 0;

    display: flex;
    flex-direction: column;
    gap: 12px; /* расстояние между заказами */
}

/* Контейнер для скролла */
.company-item {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px; /* расстояние между строками */
    padding-right: 4px; /* чтобы скролл не перекрывал текст */
    min-height: 0;
}

/* Каждая строка заказа */
.company-name {
    display: flex;             /* выстроить кнопки и текст в ряд */
    align-items: center;       /* вертикальное выравнивание */
    justify-content: flex-start;
    gap: 12px;                 /* расстояние между кнопками и текстом */

    padding: 10px 12px;
    border-radius: 12px;
    background: #f8f8fa;       /* светлый фон для разделения строк */
    box-shadow: 0 2px 6px rgba(0,0,0,0.03);
}


.company-controls {
    display: flex;
    gap: 8px;
}


.company-text {
    flex: 1;
}

.company-list::-webkit-scrollbar {
    width: 6px;
}

.company-list::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    border-radius: 3px;
}

.company-list::-webkit-scrollbar-track {
    background-color: transparent;
}
