
.site-bar-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    background-color:  #e6e1da;
    width: 600px;
}

.site-bar {
    display: flex;           /* добавляем flex для кнопок */
    flex-direction: column;  /* кнопки в колонку */
    gap: 15px;              /* расстояние между кнопками */
    background-color: #063b31;
    color: white;
    padding: 20px;
}

.site-bar p {
    margin: 0;
}